@using translord.Models
@implements IDialogContentComponent<Translation>

<FluentDialogBody>
    <p>
        @Content.Key
        @Content.Value
        @Content.Language
    </p>
</FluentDialogBody>

@code {
    [Parameter]
    public Translation Content { get; set; } = default!;
}