@using translord.Enums
@using translord.Manager.Models
@inject ITranslator Translator
@implements IDialogContentComponent<GroupedTranslations>

<FluentDialogBody>
    <p>
        @if (IsAddingNewLabel)
        {
            <FluentTextField @bind-Value="@Content.Key" Label="Key"></FluentTextField>
        }
        else
        {
            @Content.Key   
        }
        Translations:
        @foreach (var lang in Translator.GetSupportedLanguages())
        {
            <FluentTextField @bind-Value="@Content.Translations.Find(x => x.Language == lang)!.Value" Label="@lang.GetName()"></FluentTextField>
        }
    </p>
</FluentDialogBody>

@code {
    [Parameter]
    public GroupedTranslations Content { get; set; } = default!;

    public bool IsAddingNewLabel { get; private set; }
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        IsAddingNewLabel = string.IsNullOrEmpty(Content.Key);
    }
}