@using translord.Models
@using translord.Enums
@inject ITranslator Translator
@implements IDialogContentComponent<IGrouping<string, Translation>>

<FluentDialogBody>
    <p>
        @Content.Key
        Translations:
        @foreach (var lang in Translator.GetSupportedLanguages())
        {
            <span>@(lang.GetName()): @(@Content.First(x => x.Language == lang).Value)</span>
        }
    </p>
</FluentDialogBody>

@code {
    [Parameter]
    public IGrouping<string, Translation> Content { get; set; } = default!;
}