@using translord.Models
@using translord.Enums
@using translord.Manager.Components.Pages
@inject ITranslator Translator
@implements IDialogContentComponent<translord.Manager.Components.Pages.Translations.GroupedTranslation>

<FluentDialogBody>
    <p>
        @Content.Key
        Translations:
        @foreach (var lang in Translator.GetSupportedLanguages())
        {
            <FluentTextField @bind-Value="@Content[(int)lang]" Label="@lang.GetName()"></FluentTextField>
        }
    </p>
</FluentDialogBody>

@code {
    [Parameter]
    public Translations.GroupedTranslation Content { get; set; } = default!;
}