@using translord.Enums
@using translord.Manager.Models
@inject ITranslator Translator
@implements IDialogContentComponent<GroupedTranslations>

<FluentDialogBody>
    <p>
        @Content.Key
        Translations:
        @foreach (var lang in Translator.GetSupportedLanguages())
        {
            <FluentTextField @bind-Value="@Content.Translations.Find(x => x.Language == lang)!.Value" Label="@lang.GetName()"></FluentTextField>
        }
    </p>
</FluentDialogBody>

@code {
    [Parameter]
    public GroupedTranslations Content { get; set; } = default!;
}