@page "/"
@using translord.Manager.Components.Translation
@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

<h1>translord</h1>

@if (Configuration.GetValue<bool>("IsTranslordManagerAuthEnabled"))
{
    <AuthorizeView>
        <Authorized>
            <TranslationsStatistics/>
        </Authorized>
        <NotAuthorized>
            <p>Log in to see your translations statistics.</p>
        </NotAuthorized>
    </AuthorizeView>
}
else
{
    <TranslationsStatistics/>
}