@page "/translations"
@using translord;
@using translord.Enums
@using translord.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ITranslator Translator

<h3>Translations</h3>

<QuickGrid Items="@itemsQueryable">
  <PropertyColumn Property="@(x => x.Key)" Sortable="true" />
  <PropertyColumn Property="@(x => x.Value)" Sortable="true" />
  <PropertyColumn Property="@(x => x.Language)" Sortable="true" />
</QuickGrid>

@code {
    IQueryable<Translation>? itemsQueryable;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var translations = await Translator.GetAllTranslations(Language.Polish);
        itemsQueryable = translations.AsQueryable();
    }
}